.dx-button .dx-button-content {
  padding-block: 7px;
  padding-inline-start: 7px;
  padding-inline-end: 7px;
}

.dx-button-has-icon .dx-button-content {
  padding-block: 7px;
  padding-inline-start: 7px;
  padding-inline-end: 7px;
}

.dx-button-has-icon .dx-icon {
  width: 14px;
  height: 14px;
  font-size: 14px;
}

.dx-button-has-text .dx-button-content {
  padding-block: 5px;
  padding-inline-start: 7px;
  padding-inline-end: 7px;
}

.dx-button-has-text .dx-icon {
  width: 14px;
  height: 14px;
  font-size: 14px;
}
