/* contained */
.dx-button-mode-contained.dx-button-success {
  background-color: var(--Theme-Indicator-Success-Normal);
}

.dx-button-mode-contained.dx-button-success.dx-state-hover {
  background-color: var(--Theme-Indicator-Success-Hover);
}

.dx-button-mode-contained.dx-button-success.dx-state-active {
  background-color: var(--Theme-Indicator-Success-Pressed);
}
.dx-button-mode-contained.dx-button-success.dx-state-focused {
  background-color: color-mix(in srgb, var(--Theme-Indicator-Success-Normal) 80%, black);
}
