.dx-texteditor.dx-editor-outlined {
  background-color: var(--Theme-Neutral-Bg-1-rest);
  border-color: var(--Theme-Neutral-Border-1-rest);
}

.dx-texteditor.dx-state-hover {
  border-color: var(--Theme-Neutral-Border-1-hover);
}

.dx-texteditor.dx-state-focused.dx-editor-outlined {
  border-color: var(--Theme-Brand-Border-1-focus);
}

.dx-invalid.dx-texteditor {
  border-color: var(--Theme-Indicator-Danger-Normal);
}

.dx-placeholder {
  color: var(--Theme-Neutral-Fg-6-rest);
}
