*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html,
body,
#app {
  height: 100%;
}

body {
  line-height: 1.6;
  font-family:
    'Onest',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--Theme-Neutral-Fg-1-rest);
  background-color: var(--Theme-Neutral-Bg-5-rest);
}

.dx-widget {
  font-family: 'Onest', sans-serif;
}

.dx-field-label {
  color: var(--Theme-Neutral-Fg-1-rest);
}
