:root {
  --Theme-Brand-Bg-1-focus: var(--Color-Color-Brand-Fill-Primary);
  --Theme-Brand-Bg-1-hover: var(--Color-Color-Brand-Fill-100);
  --Theme-Brand-Bg-1-pressed: var(--Color-Color-Brand-Fill-80);
  --Theme-Brand-Bg-1-rest: var(--Color-Color-Brand-Fill-Primary);
  --Theme-Brand-Bg-1-selected: var(--Color-Color-Brand-Fill-Primary);
  --Theme-Brand-Bg-Alfa-1-focus: var(--Color-Color-Brand-Alfa-Brand-100);
  --Theme-Brand-Bg-Alfa-1-hover: var(--Color-Color-Brand-Alfa-Brand-150);
  --Theme-Brand-Bg-Alfa-1-pressed: var(--Color-Color-Brand-Alfa-Brand-300);
  --Theme-Brand-Bg-Alfa-1-rest: var(--Color-Color-Brand-Alfa-Brand-100);
  --Theme-Brand-Bg-Alfa-1-select: var(--Color-Color-Brand-Alfa-Brand-50);
  --Theme-Brand-Bg-Alfa-2-focus: var(--Color-Color-Brand-Alfa-Brand-150);
  --Theme-Brand-Bg-Alfa-2-hover: var(--Color-Color-Brand-Alfa-Brand-150);
  --Theme-Brand-Bg-Alfa-2-pressed: var(--Color-Color-Brand-Alfa-Brand-200);
  --Theme-Brand-Bg-Alfa-2-rest: var(--Color-Color-Brand-Alfa-Brand-100);
  --Theme-Brand-Bg-Alfa-2-select: var(--Color-Color-Brand-Alfa-Brand-100);
  --Theme-Brand-Bg-OnBrand-hover: var(--Color-Color-Brand-Fill-130);
  --Theme-Brand-Bg-OnBrand-pressed: var(--Color-Color-Brand-Fill-120);
  --Theme-Brand-Bg-OnBrand-rest: var(--Color-Color-Brand-Fill-140);
  --Theme-Brand-Border-1-focus: var(--Color-Color-Shared-Blue-Alfa-800);
  --Theme-Brand-Border-1-hover: var(--Color-Color-Brand-Fill-80);
  --Theme-Brand-Border-1-pressed: var(--Color-Color-Brand-Fill-80);
  --Theme-Brand-Border-1-rest: var(--Color-Color-Brand-Alfa-Brand-900);
  --Theme-Brand-Border-1-select: var(--Color-Color-Shared-Blue-Alfa-600);
  --Theme-Brand-Border-2-focus: var(--Color-Color-Brand-Fill-150);
  --Theme-Brand-Border-2-hover: var(--Color-Color-Brand-Fill-140);
  --Theme-Brand-Border-2-pressed: var(--Color-Color-Brand-Fill-140);
  --Theme-Brand-Border-2-rest: var(--Color-Color-Brand-Fill-150);
  --Theme-Brand-Border-2-select: var(--Color-Color-Brand-Fill-170);
  --Theme-Brand-Fg-1-hover: var(--Color-Color-Brand-Fill-200);
  --Theme-Brand-Fg-1-pressed: var(--Color-Color-Brand-Fill-180);
  --Theme-Brand-Fg-1-rest: var(--Color-Color-Brand-Fill-190);
  --Theme-Brand-Fg-1-selected: var(--Color-Color-Brand-Fill-190);
  --Theme-Brand-Fg-2-Focus: var(--Color-Color-Brand-Fill-Primary);
  --Theme-Brand-Fg-2-Select: var(--Color-Color-Brand-Fill-Primary);
  --Theme-Brand-Fg-2-hover: var(--Color-Color-Brand-Fill-80);
  --Theme-Brand-Fg-2-pressed: var(--Color-Color-Brand-Fill-70);
  --Theme-Brand-Fg-2-rest: var(--Color-Color-Brand-Fill-Primary);
  --Theme-Brand2-Bg-1-focus: var(--Color-Color-Brand2-Fill-Primary);
  --Theme-Brand2-Bg-1-hover: var(--Color-Color-Brand2-Fill-Brand-100);
  --Theme-Brand2-Bg-1-pressed: var(--Color-Color-Brand2-Fill-Brand-80);
  --Theme-Brand2-Bg-1-rest: var(--Color-Color-Brand2-Fill-Primary);
  --Theme-Brand2-Bg-1-selected: var(--Color-Color-Brand2-Fill-Primary);
  --Theme-Brand2-Bg-Alfa-1-focus: var(--Color-Color-Brand2-Alfa-Brand-100);
  --Theme-Brand2-Bg-Alfa-1-hover: var(--Color-Color-Brand2-Alfa-Brand-150);
  --Theme-Brand2-Bg-Alfa-1-pressed: var(--Color-Color-Brand2-Alfa-Brand-300);
  --Theme-Brand2-Bg-Alfa-1-rest: var(--Color-Color-Brand2-Alfa-Brand-100);
  --Theme-Brand2-Bg-Alfa-1-select: var(--Color-Color-Brand2-Alfa-Brand-50);
  --Theme-Brand2-Bg-Alfa-2-focus: var(--Color-Color-Brand2-Alfa-Brand-150);
  --Theme-Brand2-Bg-Alfa-2-hover: var(--Color-Color-Brand2-Alfa-Brand-150);
  --Theme-Brand2-Bg-Alfa-2-pressed: var(--Color-Color-Brand2-Alfa-Brand-200);
  --Theme-Brand2-Bg-Alfa-2-rest: var(--Color-Color-Brand2-Alfa-Brand-100);
  --Theme-Brand2-Bg-Alfa-2-select: var(--Color-Color-Brand2-Alfa-Brand-100);
  --Theme-Brand2-Bg-OnBrand-hover: var(--Color-Color-Brand2-Fill-Brand-130);
  --Theme-Brand2-Bg-OnBrand-pressed: var(--Color-Color-Brand2-Fill-Brand-120);
  --Theme-Brand2-Bg-OnBrand-rest: var(--Color-Color-Brand2-Fill-Brand-140);
  --Theme-Brand2-Border-1-focus: var(--Color-Color-Shared-Blue-Alfa-800);
  --Theme-Brand2-Border-1-hover: var(--Color-Color-Brand2-Fill-Brand-80);
  --Theme-Brand2-Border-1-pressed: var(--Color-Color-Brand2-Fill-Brand-80);
  --Theme-Brand2-Border-1-rest: var(--Color-Color-Brand2-Alfa-Brand-900);
  --Theme-Brand2-Border-1-select: var(--Color-Color-Shared-Blue-Alfa-600);
  --Theme-Brand2-Border-2-focus: var(--Color-Color-Brand2-Fill-Brand-150);
  --Theme-Brand2-Border-2-hover: var(--Color-Color-Brand2-Fill-Brand-140);
  --Theme-Brand2-Border-2-pressed: var(--Color-Color-Brand2-Fill-Brand-140);
  --Theme-Brand2-Border-2-rest: var(--Color-Color-Brand2-Fill-Brand-150);
  --Theme-Brand2-Border-2-select: var(--Color-Color-Brand2-Fill-Brand-170);
  --Theme-Brand2-Fg-1-hover: var(--Color-Color-Brand2-Fill-Brand-200);
  --Theme-Brand2-Fg-1-pressed: var(--Color-Color-Brand2-Fill-Brand-180);
  --Theme-Brand2-Fg-1-rest: var(--Color-Color-Brand2-Fill-Brand-190);
  --Theme-Brand2-Fg-1-selected: var(--Color-Color-Brand2-Fill-Brand-190);
  --Theme-Brand2-Fg-2-Focus: var(--Color-Color-Brand2-Fill-Primary);
  --Theme-Brand2-Fg-2-Select: var(--Color-Color-Brand2-Fill-Primary);
  --Theme-Brand2-Fg-2-hover: var(--Color-Color-Brand2-Fill-Brand-80);
  --Theme-Brand2-Fg-2-pressed: var(--Color-Color-Brand2-Fill-Brand-70);
  --Theme-Brand2-Fg-2-rest: var(--Color-Color-Brand2-Fill-Primary);
  --Theme-Indicator-Danger-Bg-1-pressed: var(--Color-Color-Shared-Red-Alfa-300);
  --Theme-Indicator-Danger-Bg-1-rest: var(--Color-Color-Shared-Red-Alfa-200);
  --Theme-Indicator-Danger-Border-1-rest: var(--Color-Color-Shared-Red-Alfa-900);
  --Theme-Indicator-Danger-Fg-1-rest: var(--Color-Color-Shared-Red-Alfa-900);
  --Theme-Indicator-Danger-Hover: var(--Color-Color-Shared-Red-Fill-80);
  --Theme-Indicator-Danger-Normal: var(--Color-Color-Shared-Red-Fill-Primary);
  --Theme-Indicator-Danger-Pressed: var(--Color-Color-Shared-Red-Fill-70);
  --Theme-Indicator-Others-Berry-Bg-1-hover: var(--Color-Color-Shared-Berry-Alfa-300);
  --Theme-Indicator-Others-Berry-Bg-1-rest: var(--Color-Color-Shared-Berry-Alfa-200);
  --Theme-Indicator-Others-Berry-Bg-2-hover: var(--Color-Color-Shared-Berry-Fill-80);
  --Theme-Indicator-Others-Berry-Bg-2-rest: var(--Color-Color-Shared-Berry-Fill-Main);
  --Theme-Indicator-Others-Berry-Border-1-hover: var(--Color-Color-Shared-Berry-Alfa-500);
  --Theme-Indicator-Others-Berry-Border-1-rest: var(--Color-Color-Shared-Berry-Alfa-500);
  --Theme-Indicator-Others-Berry-Fg-1-hover: var(--Color-Color-Shared-Berry-Fill-60);
  --Theme-Indicator-Others-Berry-Fg-1-rest: var(--Color-Color-Shared-Berry-Fill-70);
  --Theme-Indicator-Others-Berry-Fg-2-hover: var(--Color-Color-Shared-Berry-Fill-140);
  --Theme-Indicator-Others-Berry-Fg-2-rest: var(--Color-Color-Shared-Berry-Fill-150);
  --Theme-Indicator-Others-Blue-Bg-1-hover: var(--Color-Color-Shared-Blue-Alfa-300);
  --Theme-Indicator-Others-Blue-Bg-1-rest: var(--Color-Color-Shared-Blue-Alfa-200);
  --Theme-Indicator-Others-Blue-Bg-2-hover: var(--Color-Color-Shared-Blue-Fill-80);
  --Theme-Indicator-Others-Blue-Bg-2-rest: var(--Color-Color-Shared-Blue-Fill-Visary);
  --Theme-Indicator-Others-Blue-Border-1-hover: var(--Color-Color-Shared-Blue-Alfa-600);
  --Theme-Indicator-Others-Blue-Border-1-rest: var(--Color-Color-Shared-Blue-Alfa-500);
  --Theme-Indicator-Others-Blue-Fg-1-hover: var(--Color-Color-Shared-Blue-Fill-60);
  --Theme-Indicator-Others-Blue-Fg-1-rest: var(--Color-Color-Shared-Blue-Fill-70);
  --Theme-Indicator-Others-Blue-Fg-2-hover: var(--Color-Color-Shared-Blue-Fill-120);
  --Theme-Indicator-Others-Blue-Fg-2-rest: var(--Color-Color-Shared-Blue-Fill-130);
  --Theme-Indicator-Others-Charoel-Bg-1-hover: var(--Color-Color-Shared-Charcoal-Alfa-200);
  --Theme-Indicator-Others-Charoel-Bg-1-rest: var(--Color-Color-Shared-Charcoal-Alfa-100);
  --Theme-Indicator-Others-Charoel-Bg-2-hover: var(--Color-Color-Shared-Charcoal-Fill-80);
  --Theme-Indicator-Others-Charoel-Bg-2-rest: var(--Color-Color-Shared-Charcoal-Fill-Main);
  --Theme-Indicator-Others-Charoel-Border-1-hover: var(--Color-Color-Shared-Charcoal-Alfa-300);
  --Theme-Indicator-Others-Charoel-Border-1-rest: var(--Color-Color-Shared-Charcoal-Alfa-200);
  --Theme-Indicator-Others-Charoel-Fg-1-hover: var(--Color-Color-Shared-Charcoal-Alfa-700);
  --Theme-Indicator-Others-Charoel-Fg-1-rest: var(--Color-Color-Shared-Charcoal-Fill-Main);
  --Theme-Indicator-Others-Charoel-Fg-2-hover: var(--Color-Color-Shared-Charcoal-Fill-140);
  --Theme-Indicator-Others-Charoel-Fg-2-rest: var(--Color-Color-Shared-Charcoal-Fill-150);
  --Theme-Indicator-Others-Forest-Bg-1-hover: var(--Color-Color-Shared-Forest-Alfa-300);
  --Theme-Indicator-Others-Forest-Bg-1-rest: var(--Color-Color-Shared-Forest-Alfa-200);
  --Theme-Indicator-Others-Forest-Bg-2-hover: var(--Color-Color-Shared-Forest-Fill-60);
  --Theme-Indicator-Others-Forest-Bg-2-rest: var(--Color-Color-Shared-Forest-Fill-70);
  --Theme-Indicator-Others-Forest-Border-1-hover: var(--Color-Color-Shared-Forest-Alfa-700);
  --Theme-Indicator-Others-Forest-Border-1-rest: var(--Color-Color-Shared-Forest-Alfa-600);
  --Theme-Indicator-Others-Forest-Fg-1-hover: var(--Color-Color-Shared-Forest-Fill-50);
  --Theme-Indicator-Others-Forest-Fg-1-rest: var(--Color-Color-Shared-Forest-Fill-60);
  --Theme-Indicator-Others-Forest-Fg-2-hover: var(--Color-Color-Shared-Forest-Fill-140);
  --Theme-Indicator-Others-Forest-Fg-2-rest: var(--Color-Color-Shared-Forest-Fill-150);
  --Theme-Indicator-Others-Green-Bg-1-hover: var(--Color-Color-Shared-Green-Alfa-300);
  --Theme-Indicator-Others-Green-Bg-1-rest: var(--Color-Color-Shared-Green-Alfa-200);
  --Theme-Indicator-Others-Green-Bg-2-hover: var(--Color-Color-Shared-Green-Fill-80);
  --Theme-Indicator-Others-Green-Bg-2-rest: var(--Color-Color-Shared-Green-Fill-Primary);
  --Theme-Indicator-Others-Green-Border-1-hover: var(--Color-Color-Shared-Green-Alfa-700);
  --Theme-Indicator-Others-Green-Border-1-rest: var(--Color-Color-Shared-Green-Alfa-600);
  --Theme-Indicator-Others-Green-Border-2-hover: var(--Color-Color-Shared-Green-Alfa-600);
  --Theme-Indicator-Others-Green-Border-2-rest: var(--Color-Color-Shared-Green-Alfa-600);
  --Theme-Indicator-Others-Green-Fg-1-hover: var(--Color-Color-Shared-Green-Fill-50);
  --Theme-Indicator-Others-Green-Fg-1-rest: var(--Color-Color-Shared-Green-Fill-60);
  --Theme-Indicator-Others-Green-Fg-2-hover: var(--Color-Color-Shared-Green-Fill-140);
  --Theme-Indicator-Others-Green-Fg-2-rest: var(--Color-Color-Shared-Green-Fill-150);
  --Theme-Indicator-Others-Lavander-Bg-1-hover: var(--Color-Color-Shared-Lavender-Alfa-20);
  --Theme-Indicator-Others-Lavander-Bg-1-rest: var(--Color-Color-Shared-Lavender-Alfa-20);
  --Theme-Indicator-Others-Lavander-Bg-2-hover: var(--Color-Color-Shared-Lavender-Fill-80);
  --Theme-Indicator-Others-Lavander-Bg-2-rest: var(--Color-Color-Shared-Lavender-Fill-Main);
  --Theme-Indicator-Others-Lavander-Border-1-hover: var(--Color-Color-Shared-Lavender-Alfa-500);
  --Theme-Indicator-Others-Lavander-Border-1-rest: var(--Color-Color-Shared-Lavender-Alfa-500);
  --Theme-Indicator-Others-Lavander-Fg-1-hover: var(--Color-Color-Shared-Lavender-Fill-Main);
  --Theme-Indicator-Others-Lavander-Fg-1-rest: var(--Color-Color-Shared-Lavender-Fill-70);
  --Theme-Indicator-Others-Lavander-Fg-2-hover: var(--Color-Color-Shared-Lavender-Fill-140);
  --Theme-Indicator-Others-Lavander-Fg-2-rest: var(--Color-Color-Shared-Lavender-Fill-150);
  --Theme-Indicator-Others-Lilac-Bg-1-hover: var(--Color-Color-Shared-Lilac-Alfa-300);
  --Theme-Indicator-Others-Lilac-Bg-1-rest: var(--Color-Color-Shared-Lilac-Alfa-200);
  --Theme-Indicator-Others-Lilac-Bg-1-rest2: var(--Color-Color-Shared-Lilac-Alfa-200);
  --Theme-Indicator-Others-Lilac-Bg-2-hover: var(--Color-Color-Shared-Lilac-Fill-80);
  --Theme-Indicator-Others-Lilac-Bg-2-rest: var(--Color-Color-Shared-Lilac-Fill-Main);
  --Theme-Indicator-Others-Lilac-Border-1-hover: var(--Color-Color-Shared-Lilac-Alfa-800);
  --Theme-Indicator-Others-Lilac-Border-1-rest: var(--Color-Color-Shared-Lilac-Alfa-600);
  --Theme-Indicator-Others-Lilac-Fg-1-hover: var(--Color-Color-Shared-Lilac-Fill-60);
  --Theme-Indicator-Others-Lilac-Fg-1-rest: var(--Color-Color-Shared-Lilac-Fill-70);
  --Theme-Indicator-Others-Lilac-Fg-2-hover: var(--Color-Color-Shared-Lilac-Fill-140);
  --Theme-Indicator-Others-Lilac-Fg-2-rest: var(--Color-Color-Shared-Lilac-Fill-150);
  --Theme-Indicator-Others-Lime-Bg-1-hover: var(--Color-Color-Shared-Lime-Alfa-300);
  --Theme-Indicator-Others-Lime-Bg-1-rest: var(--Color-Color-Shared-Lime-Alfa-200);
  --Theme-Indicator-Others-Lime-Bg-2-hover: var(--Color-Color-Shared-Lime-Fill-80);
  --Theme-Indicator-Others-Lime-Bg-2-rest: var(--Color-Color-Shared-Lime-Fill-Main);
  --Theme-Indicator-Others-Lime-Border-1-hover: var(--Color-Color-Shared-Lime-Alfa-700);
  --Theme-Indicator-Others-Lime-Border-1-rest: var(--Color-Color-Shared-Lime-Alfa-600);
  --Theme-Indicator-Others-Lime-Fg-1-hover: var(--Color-Color-Shared-Lime-Fill-60);
  --Theme-Indicator-Others-Lime-Fg-1-rest: var(--Color-Color-Shared-Lime-Fill-60);
  --Theme-Indicator-Others-Lime-Fg-2-hover: var(--Color-Color-Shared-Lime-Fill-140);
  --Theme-Indicator-Others-Lime-Fg-2-rest: var(--Color-Color-Shared-Lime-Fill-150);
  --Theme-Indicator-Others-Mint-Bg-1-hover: var(--Color-Color-Shared-Mint-Alfa-300);
  --Theme-Indicator-Others-Mint-Bg-1-rest: var(--Color-Color-Shared-Mint-Alfa-200);
  --Theme-Indicator-Others-Mint-Bg-2-hover: var(--Color-Color-Shared-Mint-Fill-80);
  --Theme-Indicator-Others-Mint-Bg-2-rest: var(--Color-Color-Shared-Mint-Fill-Primary);
  --Theme-Indicator-Others-Mint-Border-1-hover: var(--Color-Color-Shared-Mint-Alfa-800);
  --Theme-Indicator-Others-Mint-Border-1-rest: var(--Color-Color-Shared-Mint-Alfa-700);
  --Theme-Indicator-Others-Mint-Fg-1-hover: var(--Color-Color-Shared-Mint-Fill-40);
  --Theme-Indicator-Others-Mint-Fg-1-rest: var(--Color-Color-Shared-Mint-Fill-50);
  --Theme-Indicator-Others-Mint-Fg-2-hover: var(--Color-Color-Shared-Mint-Fill-130);
  --Theme-Indicator-Others-Mint-Fg-2-rest: var(--Color-Color-Shared-Mint-Fill-140);
  --Theme-Indicator-Others-Orange-Bg-1-hover: var(--Color-Color-Shared-Orange-Alfa-200);
  --Theme-Indicator-Others-Orange-Bg-1-rest: var(--Color-Color-Shared-Orange-Alfa-200);
  --Theme-Indicator-Others-Orange-Bg-2-hover: var(--Color-Color-Shared-Orange-Fill-80);
  --Theme-Indicator-Others-Orange-Bg-2-rest: var(--Color-Color-Shared-Orange-Fill-Main);
  --Theme-Indicator-Others-Orange-Border-1-hover: var(--Color-Color-Shared-Orange-Alfa-800);
  --Theme-Indicator-Others-Orange-Border-1-rest: var(--Color-Color-Shared-Orange-Alfa-600);
  --Theme-Indicator-Others-Orange-Fg-1-hover: var(--Color-Color-Shared-Orange-Fill-70);
  --Theme-Indicator-Others-Orange-Fg-1-rest: var(--Color-Color-Shared-Orange-Fill-70);
  --Theme-Indicator-Others-Orange-Fg-2-hover: var(--Color-Color-Shared-Orange-Fill-130);
  --Theme-Indicator-Others-Orange-Fg-2-rest: var(--Color-Color-Shared-Orange-Fill-140);
  --Theme-Indicator-Others-Peach-Bg-1-hover: var(--Color-Color-Shared-Peach-Alfa-300);
  --Theme-Indicator-Others-Peach-Bg-1-rest: var(--Color-Color-Shared-Peach-Alfa-200);
  --Theme-Indicator-Others-Peach-Bg-2-hover: var(--Color-Color-Shared-Peach-Fill-80);
  --Theme-Indicator-Others-Peach-Bg-2-rest: var(--Color-Color-Shared-Peach-Fill-Main);
  --Theme-Indicator-Others-Peach-Border-1-hover: var(--Color-Color-Shared-Peach-Alfa-500);
  --Theme-Indicator-Others-Peach-Border-1-rest: var(--Color-Color-Shared-Peach-Alfa-400);
  --Theme-Indicator-Others-Peach-Fg-1-hover: var(--Color-Color-Shared-Peach-Fill-70);
  --Theme-Indicator-Others-Peach-Fg-1-rest: var(--Color-Color-Shared-Peach-Fill-80);
  --Theme-Indicator-Others-Peach-Fg-2-hover: var(--Color-Color-Shared-Peach-Fill-120);
  --Theme-Indicator-Others-Peach-Fg-2-rest: var(--Color-Color-Shared-Peach-Fill-130);
  --Theme-Indicator-Others-Puya-Bg-1-hover: var(--Color-Color-Shared-Puya-Alfa-300);
  --Theme-Indicator-Others-Puya-Bg-1-rest: var(--Color-Color-Shared-Puya-Alfa-200);
  --Theme-Indicator-Others-Puya-Bg-2-hover: var(--Color-Color-Shared-Puya-Fill-70);
  --Theme-Indicator-Others-Puya-Bg-2-rest: var(--Color-Color-Shared-Puya-Fill-80);
  --Theme-Indicator-Others-Puya-Border-1-hover: var(--Color-Color-Shared-Puya-Alfa-800);
  --Theme-Indicator-Others-Puya-Border-1-rest: var(--Color-Color-Shared-Puya-Alfa-700);
  --Theme-Indicator-Others-Puya-Fg-1-hover: var(--Color-Color-Shared-Puya-Fill-50);
  --Theme-Indicator-Others-Puya-Fg-1-rest: var(--Color-Color-Shared-Puya-Fill-60);
  --Theme-Indicator-Others-Puya-Fg-2-hover: var(--Color-Color-Shared-Puya-Fill-130);
  --Theme-Indicator-Others-Puya-Fg-2-rest: var(--Color-Color-Shared-Puya-Fill-140);
  --Theme-Indicator-Others-Raspberry-Bg-1-hover: var(--Color-Color-Shared-Raspberry-Alfa-20);
  --Theme-Indicator-Others-Raspberry-Bg-1-rest: var(--Color-Color-Shared-Raspberry-Alfa-20);
  --Theme-Indicator-Others-Raspberry-Bg-2-hover: var(--Color-Color-Shared-Raspberry-Fill-80);
  --Theme-Indicator-Others-Raspberry-Bg-2-rest: var(--Color-Color-Shared-Raspberry-Fill-Main);
  --Theme-Indicator-Others-Raspberry-Border-1-hover: var(--Color-Color-Shared-Raspberry-Alfa-60);
  --Theme-Indicator-Others-Raspberry-Border-1-rest: var(--Color-Color-Shared-Raspberry-Alfa-40);
  --Theme-Indicator-Others-Raspberry-Border-2-hover: var(--Color-Color-Shared-Raspberry-Fill-80);
  --Theme-Indicator-Others-Raspberry-Border-2-rest: var(--Color-Color-Shared-Raspberry-Fill-Main);
  --Theme-Indicator-Others-Raspberry-Fg-1-hover: var(--Color-Color-Shared-Raspberry-Fill-80);
  --Theme-Indicator-Others-Raspberry-Fg-1-rest: var(--Color-Color-Shared-Raspberry-Fill-Main);
  --Theme-Indicator-Others-Raspberry-Fg-2-hover: var(--Color-Color-Shared-Raspberry-Fill-120);
  --Theme-Indicator-Others-Raspberry-Fg-2-rest: var(--Color-Color-Shared-Raspberry-Fill-130);
  --Theme-Indicator-Others-Red-Bg-1-hover: var(--Color-Color-Shared-Red-Alfa-200);
  --Theme-Indicator-Others-Red-Bg-1-rest: var(--Color-Color-Shared-Red-Alfa-200);
  --Theme-Indicator-Others-Red-Bg-2-hover: var(--Color-Color-Shared-Red-Fill-80);
  --Theme-Indicator-Others-Red-Bg-2-rest: var(--Color-Color-Shared-Red-Fill-Primary);
  --Theme-Indicator-Others-Red-Border-1-hover: var(--Color-Color-Shared-Red-Alfa-500);
  --Theme-Indicator-Others-Red-Border-1-rest: var(--Color-Color-Shared-Red-Alfa-400);
  --Theme-Indicator-Others-Red-Border-2-hover: var(--Color-Color-Shared-Red-Fill-80);
  --Theme-Indicator-Others-Red-Border-2-rest: var(--Color-Color-Shared-Red-Fill-Primary);
  --Theme-Indicator-Others-Red-Fg-1-hover: var(--Color-Color-Shared-Red-Fill-80);
  --Theme-Indicator-Others-Red-Fg-1-rest: var(--Color-Color-Shared-Red-Fill-Primary);
  --Theme-Indicator-Others-Red-Fg-2-hover: var(--Color-Color-Shared-Red-Fill-140);
  --Theme-Indicator-Others-Red-Fg-2-rest: var(--Color-Color-Shared-Red-Fill-150);
  --Theme-Indicator-Others-Sapphire-Bg-1-hover: var(--Color-Color-Shared-Sapphire-Alfa-200);
  --Theme-Indicator-Others-Sapphire-Bg-1-rest: var(--Color-Color-Shared-Sapphire-Alfa-200);
  --Theme-Indicator-Others-Sapphire-Bg-2-hover: var(--Color-Color-Shared-Sapphire-Fill-80);
  --Theme-Indicator-Others-Sapphire-Bg-2-rest: var(--Color-Color-Shared-Sapphire-Fill-Visary);
  --Theme-Indicator-Others-Sapphire-Border-1-hover: var(--Color-Color-Shared-Sapphire-Alfa-700);
  --Theme-Indicator-Others-Sapphire-Border-1-rest: var(--Color-Color-Shared-Sapphire-Alfa-500);
  --Theme-Indicator-Others-Sapphire-Fg-1-hover: var(--Color-Color-Shared-Sapphire-Fill-70);
  --Theme-Indicator-Others-Sapphire-Fg-1-rest: var(--Color-Color-Shared-Sapphire-Fill-80);
  --Theme-Indicator-Others-Sapphire-Fg-2-Hover: var(--Color-Color-Shared-Sapphire-Fill-140);
  --Theme-Indicator-Others-Sapphire-Fg-2-Rest: var(--Color-Color-Shared-Sapphire-Fill-150);
  --Theme-Indicator-Others-Silver-Bg-1-hover: var(--Color-Color-Shared-Silver-Alfa-300);
  --Theme-Indicator-Others-Silver-Bg-1-rest: var(--Color-Color-Shared-Silver-Alfa-200);
  --Theme-Indicator-Others-Silver-Bg-2-hover: var(--Color-Color-Shared-Silver-Fill-80);
  --Theme-Indicator-Others-Silver-Bg-2-rest: var(--Color-Color-Shared-Silver-Fill-Main);
  --Theme-Indicator-Others-Silver-Border-1-hover: var(--Color-Color-Shared-Silver-Alfa-800);
  --Theme-Indicator-Others-Silver-Border-1-rest: var(--Color-Color-Shared-Silver-Alfa-500);
  --Theme-Indicator-Others-Silver-Fg-1-hover: var(--Color-Color-Shared-Silver-Fill-40);
  --Theme-Indicator-Others-Silver-Fg-1-rest: var(--Color-Color-Shared-Silver-Fill-50);
  --Theme-Indicator-Others-Silver-Fg-2-hover: var(--Color-Color-Shared-Silver-Fill-140);
  --Theme-Indicator-Others-Silver-Fg-2-rest: var(--Color-Color-Shared-Silver-Fill-150);
  --Theme-Indicator-Others-Sky-Bg-1-hover: var(--Color-Color-Shared-Sky-Alfa-300);
  --Theme-Indicator-Others-Sky-Bg-1-rest: var(--Color-Color-Shared-Sky-Alfa-200);
  --Theme-Indicator-Others-Sky-Bg-2-hover: var(--Color-Color-Shared-Sky-Fill-80);
  --Theme-Indicator-Others-Sky-Bg-2-rest: var(--Color-Color-Shared-Sky-Fill-Visary);
  --Theme-Indicator-Others-Sky-Border-1-hover: var(--Color-Color-Shared-Sky-Alfa-700);
  --Theme-Indicator-Others-Sky-Border-1-rest: var(--Color-Color-Shared-Sky-Alfa-700);
  --Theme-Indicator-Others-Sky-Border-2-hover: var(--Color-Color-Shared-Sky-Fill-80);
  --Theme-Indicator-Others-Sky-Border-2-rest: var(--Color-Color-Shared-Sky-Fill-Visary);
  --Theme-Indicator-Others-Sky-Fg-1-hover: var(--Color-Color-Shared-Sky-Fill-40);
  --Theme-Indicator-Others-Sky-Fg-1-rest: var(--Color-Color-Shared-Sky-Fill-50);
  --Theme-Indicator-Others-Sky-Fg-2-hover: var(--Color-Color-Shared-Sky-Fill-130);
  --Theme-Indicator-Others-Sky-Fg-2-rest: var(--Color-Color-Shared-Sky-Fill-140);
  --Theme-Indicator-Others-Yellow-Bg-1-hover: var(--Color-Color-Shared-Yellow-Alfa-400);
  --Theme-Indicator-Others-Yellow-Bg-1-rest: var(--Color-Color-Shared-Yellow-Alfa-200);
  --Theme-Indicator-Others-Yellow-Bg-2-hover: var(--Color-Color-Shared-Yellow-Fill-80);
  --Theme-Indicator-Others-Yellow-Bg-2-rest: var(--Color-Color-Shared-Yellow-Fill-Main);
  --Theme-Indicator-Others-Yellow-Border-1-hover: var(--Color-Color-Shared-Yellow-Alfa-800);
  --Theme-Indicator-Others-Yellow-Border-1-rest: var(--Color-Color-Shared-Yellow-Alfa-700);
  --Theme-Indicator-Others-Yellow-Border-2-hover: var(--Color-Color-Shared-Yellow-Fill-80);
  --Theme-Indicator-Others-Yellow-Border-2-rest: var(--Color-Color-Shared-Yellow-Fill-Main);
  --Theme-Indicator-Others-Yellow-Fg-1-hover: var(--Color-Color-Shared-Yellow-Fill-40);
  --Theme-Indicator-Others-Yellow-Fg-1-rest: var(--Color-Color-Shared-Yellow-Fill-50);
  --Theme-Indicator-Others-Yellow-Fg-2-hover: var(--Color-Color-Shared-Yellow-Fill-140);
  --Theme-Indicator-Others-Yellow-Fg-2-rest: var(--Color-Color-Shared-Yellow-Fill-150);
  --Theme-Indicator-Success-Bg-1-rest: var(--Color-Color-Shared-Green-Alfa-300);
  --Theme-Indicator-Success-Border-1-rest: var(--Color-Color-Shared-Green-Fill-60);
  --Theme-Indicator-Success-Fg-1-rest: var(--Color-Color-Shared-Green-Fill-60);
  --Theme-Indicator-Success-Hover: var(--Color-Color-Shared-Green-Fill-80);
  --Theme-Indicator-Success-Normal: var(--Color-Color-Shared-Green-Fill-Primary);
  --Theme-Indicator-Success-Pressed: var(--Color-Color-Shared-Green-Fill-70);
  --Theme-Indicator-Warning-Bg-1-rest: var(--Color-Color-Shared-Yellow-Alfa-400);
  --Theme-Indicator-Warning-Border-1-rest: var(--Color-Color-Shared-Yellow-Fill-Main);
  --Theme-Indicator-Warning-Fg-1-rest: var(--Color-Color-Shared-Yellow-Fill-Main);
  --Theme-Indicator-Warning-Hover: var(--Color-Color-Shared-Yellow-Fill-80);
  --Theme-Indicator-Warning-Pressed: var(--Color-Color-Shared-Yellow-Fill-70);
  --Theme-Indicator-Warning-Rest: var(--Color-Color-Shared-Yellow-Fill-Main);
  --Theme-Neutral-Bg-1-hover: var(--Color-Color-Neutral-Gray96);
  --Theme-Neutral-Bg-1-pressed: var(--Color-Color-Neutral-Grey98);
  --Theme-Neutral-Bg-1-rest: var(--Color-Color-Neutral-White);
  --Theme-Neutral-Bg-1-select: var(--Color-Color-Neutral-White);
  --Theme-Neutral-Bg-2-hover: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-2-pressed: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-2-rest: var(--Color-Color-Neutral-Grey98);
  --Theme-Neutral-Bg-2-select: var(--Color-Color-Neutral-Grey98);
  --Theme-Neutral-Bg-3-hover: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-3-pressed: var(--Color-Color-Neutral-Gray92);
  --Theme-Neutral-Bg-3-rest: var(--Color-Color-Neutral-Gray96);
  --Theme-Neutral-Bg-3-selected: var(--Color-Color-Neutral-Gray96);
  --Theme-Neutral-Bg-4-hover: var(--Color-Color-Neutral-Gray92);
  --Theme-Neutral-Bg-4-pressed: var(--Color-Color-Neutral-Gray90);
  --Theme-Neutral-Bg-4-rest: var(--Color-Color-Neutral-Grey98);
  --Theme-Neutral-Bg-4-selected: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-5-hover: var(--Color-Color-Neutral-Gray96);
  --Theme-Neutral-Bg-5-pressed: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-5-rest: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-5-selected: var(--Color-Color-Neutral-Grey98);
  --Theme-Neutral-Bg-6-hover: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-6-pressed: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-6-rest: var(--Color-Color-Neutral-Gray90);
  --Theme-Neutral-Bg-6-selected: var(--Color-Color-Neutral-Grey98);
  --Theme-Neutral-Bg-7-hover: var(--Color-Color-Neutral-Gray96);
  --Theme-Neutral-Bg-7-pressed: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-7-rest: var(--Color-Color-Neutral-White);
  --Theme-Neutral-Bg-7-selected: var(--Color-Color-Neutral-Grey98);
  --Theme-Neutral-Bg-Alfa-1-Focus: var(--Color-Color-Alfa-Gray-5);
  --Theme-Neutral-Bg-Alfa-1-hover: var(--Color-Color-Alfa-Gray-7);
  --Theme-Neutral-Bg-Alfa-1-pressed: var(--Color-Color-Alfa-Gray-10);
  --Theme-Neutral-Bg-Alfa-1-rest: var(--Color-Color-Alfa-Gray-5);
  --Theme-Neutral-Bg-Alfa-1-select: var(--Color-Color-Alfa-Gray-5);
  --Theme-Neutral-Bg-Alfa-2-Focus: var(--Color-Color-Alfa-Gray-10);
  --Theme-Neutral-Bg-Alfa-2-Select: var(--Color-Color-Alfa-Gray-10);
  --Theme-Neutral-Bg-Alfa-2-hover: var(--Color-Color-Alfa-Gray-10);
  --Theme-Neutral-Bg-Alfa-2-pressed: var(--Color-Color-Alfa-Gray-13);
  --Theme-Neutral-Bg-Alfa-2-rest: var(--Color-Color-Alfa-Gray-7);
  --Theme-Neutral-Bg-Alfa-3-hover: var(--Color-Color-Alfa-Gray-60);
  --Theme-Neutral-Bg-Alfa-3-pressed: var(--Color-Color-Alfa-Gray-70);
  --Theme-Neutral-Bg-Alfa-3-rest: var(--Color-Color-Alfa-Gray-50);
  --Theme-Neutral-Bg-Alfa-4-hover: var(--Color-Color-Alfa-Gray-70);
  --Theme-Neutral-Bg-Alfa-4-pressed: var(--Color-Color-Alfa-Gray-80);
  --Theme-Neutral-Bg-Alfa-4-rest: var(--Color-Color-Alfa-Gray-60);
  --Theme-Neutral-Bg-Alfa-5-hover: var(--Color-Color-Alfa-Gray-7);
  --Theme-Neutral-Bg-Alfa-5-pressed: var(--Color-Color-Alfa-Gray-10);
  --Theme-Neutral-Bg-Alfa-5-rest: var(--Color-Color-Alfa-Gray-5);
  --Theme-Neutral-Bg-Alfa-6-hover: var(--Color-Color-Alfa-White-50);
  --Theme-Neutral-Bg-Alfa-6-pressed: var(--Color-Color-Alfa-White-70);
  --Theme-Neutral-Bg-Alfa-6-rest: var(--Color-Color-Alfa-White-70);
  --Theme-Neutral-Bg-Disabled-1-rest: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-Disabled-2-rest: var(--Color-Color-Neutral-Gray96);
  --Theme-Neutral-Bg-Inverted-1-hover: var(--Color-Color-Neutral-Gray96);
  --Theme-Neutral-Bg-Inverted-1-pressed: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-Inverted-1-rest: var(--Color-Color-Neutral-Grey98);
  --Theme-Neutral-Bg-Inverted-2-hover: var(--Color-Color-Neutral-Gray96);
  --Theme-Neutral-Bg-Inverted-2-pressed: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-Inverted-2-rest: var(--Color-Color-Alfa-White-40);
  --Theme-Neutral-Bg-Inverted-3-hover: var(--Color-Color-Neutral-Gray54);
  --Theme-Neutral-Bg-Inverted-3-pressed: var(--Color-Color-Neutral-Gray52);
  --Theme-Neutral-Bg-Inverted-3-rest: var(--Color-Color-Neutral-Gray50);
  --Theme-Neutral-Bg-Inverted-Tooltipe-hover: var(--Color-Color-Alfa-Black-80);
  --Theme-Neutral-Bg-Inverted-Tooltipe-pressed: var(--Color-Color-Alfa-Black-90);
  --Theme-Neutral-Bg-Inverted-Tooltipe-rest: var(--Color-Color-Alfa-Black-70);
  --Theme-Neutral-Bg-Subtle-1-hover: var(--Color-Color-Neutral-Gray96);
  --Theme-Neutral-Bg-Subtle-1-pressed: var(--Color-Color-Neutral-Grey98);
  --Theme-Neutral-Bg-Subtle-1-rest: var(--Color-Color-Neutral-White);
  --Theme-Neutral-Bg-Subtle-1-select: var(--Color-Color-Neutral-White);
  --Theme-Neutral-Bg-Subtle-2-hover: var(--Color-Color-Neutral-Gray96);
  --Theme-Neutral-Bg-Subtle-2-pressed: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-Subtle-2-rest: var(--Color-Color-Neutral-Grey98);
  --Theme-Neutral-Bg-Subtle-2-select: var(--Color-Color-Neutral-Grey98);
  --Theme-Neutral-Bg-Subtle-3-hover: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-Subtle-3-pressed: var(--Color-Color-Neutral-Gray92);
  --Theme-Neutral-Bg-Subtle-3-rest: var(--Color-Color-Neutral-Gray96);
  --Theme-Neutral-Bg-Subtle-3-selected: var(--Color-Color-Neutral-Gray96);
  --Theme-Neutral-Bg-Subtle-4-hover: var(--Color-Color-Neutral-Gray92);
  --Theme-Neutral-Bg-Subtle-4-pressed: var(--Color-Color-Neutral-Gray90);
  --Theme-Neutral-Bg-Subtle-4-rest: var(--Color-Color-Neutral-Grey98);
  --Theme-Neutral-Bg-Subtle-4-selected: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-Subtle-5-hover: var(--Color-Color-Neutral-Gray96);
  --Theme-Neutral-Bg-Subtle-5-pressed: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-Subtle-5-rest: var(--Color-Color-Neutral-Gray96);
  --Theme-Neutral-Bg-Subtle-5-selected: var(--Color-Color-Neutral-Grey98);
  --Theme-Neutral-Bg-Subtle-6-hover: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-Subtle-6-pressed: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-Subtle-6-rest: var(--Color-Color-Neutral-Gray90);
  --Theme-Neutral-Bg-Subtle-6-selected: var(--Color-Color-Neutral-Grey98);
  --Theme-Neutral-Bg-Subtle-7-hover: var(--Color-Color-Neutral-Gray96);
  --Theme-Neutral-Bg-Subtle-7-pressed: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Bg-Subtle-7-rest: var(--Color-Color-Neutral-White);
  --Theme-Neutral-Bg-Subtle-7-selected: var(--Color-Color-Neutral-Grey98);
  --Theme-Neutral-Border-1-hover: var(--Color-Color-Neutral-Gray68);
  --Theme-Neutral-Border-1-pressed: var(--Color-Color-Neutral-Gray86);
  --Theme-Neutral-Border-1-rest: var(--Color-Color-Neutral-Gray90);
  --Theme-Neutral-Border-1-select: var(--Color-Color-Neutral-Gray82);
  --Theme-Neutral-Border-2-hover: var(--Color-Color-Neutral-Gray78);
  --Theme-Neutral-Border-2-pressed: var(--Color-Color-Neutral-Gray86);
  --Theme-Neutral-Border-2-rest: var(--Color-Color-Neutral-Gray88);
  --Theme-Neutral-Border-3-hover: var(--Color-Color-Neutral-Gray84);
  --Theme-Neutral-Border-3-pressed: var(--Color-Color-Neutral-Gray90);
  --Theme-Neutral-Border-3-rest: var(--Color-Color-Neutral-Gray92);
  --Theme-Neutral-Border-4-hover: var(--Color-Color-Neutral-Gray96);
  --Theme-Neutral-Border-4-pressed: var(--Color-Color-Neutral-Gray96);
  --Theme-Neutral-Border-4-rest: var(--Color-Color-Neutral-Gray92);
  --Theme-Neutral-Border-5-hover: var(--Color-Color-Neutral-Gray82);
  --Theme-Neutral-Border-5-pressed: var(--Color-Color-Neutral-Gray96);
  --Theme-Neutral-Border-5-rest: var(--Color-Color-Neutral-Gray86);
  --Theme-Neutral-Border-Alfa-1-rest: var(--Color-Color-Alfa-Black-10);
  --Theme-Neutral-Border-Alfa-2-rest: var(--Color-Color-Alfa-White-5);
  --Theme-Neutral-Border-Alfa-3-rest: var(--Color-Color-Alfa-White-15);
  --Theme-Neutral-Border-Disabled-rest: var(--Color-Color-Neutral-Gray90);
  --Theme-Neutral-Border-Subtle-1-hover: var(--Color-Color-Neutral-Gray90);
  --Theme-Neutral-Border-Subtle-1-pressed: var(--Color-Color-Neutral-Gray92);
  --Theme-Neutral-Border-Subtle-1-rest: var(--Color-Color-Neutral-Gray90);
  --Theme-Neutral-Border-Subtle-2-hover: var(--Color-Color-Neutral-Gray78);
  --Theme-Neutral-Border-Subtle-2-pressed: var(--Color-Color-Neutral-Gray86);
  --Theme-Neutral-Border-Subtle-2-rest: var(--Color-Color-Neutral-Gray88);
  --Theme-Neutral-Border-Subtle-3-hover: var(--Color-Color-Neutral-Gray84);
  --Theme-Neutral-Border-Subtle-3-pressed: var(--Color-Color-Neutral-Gray90);
  --Theme-Neutral-Border-Subtle-3-rest: var(--Color-Color-Neutral-Gray88);
  --Theme-Neutral-Border-Subtle-4-hover: var(--Color-Color-Neutral-Gray94);
  --Theme-Neutral-Border-Subtle-4-pressed: var(--Color-Color-Neutral-Gray92);
  --Theme-Neutral-Border-Subtle-4-rest: var(--Color-Color-Neutral-Gray92);
  --Theme-Neutral-Border-Subtle-5-hover: var(--Color-Color-Neutral-Gray82);
  --Theme-Neutral-Border-Subtle-5-pressed: var(--Color-Color-Neutral-Gray92);
  --Theme-Neutral-Border-Subtle-5-rest: var(--Color-Color-Neutral-Gray86);
  --Theme-Neutral-Fg-1-focus: var(--Color-Color-Neutral-Gray20);
  --Theme-Neutral-Fg-1-hover: var(--Color-Color-Neutral-Gray16);
  --Theme-Neutral-Fg-1-pressed: var(--Color-Color-Neutral-Gray20);
  --Theme-Neutral-Fg-1-rest: var(--Color-Color-Neutral-Gray20);
  --Theme-Neutral-Fg-1-selected: var(--Color-Color-Neutral-Gray20);
  --Theme-Neutral-Fg-2-Hover: var(--Color-Color-Neutral-Gray30);
  --Theme-Neutral-Fg-2-pressed: var(--Color-Color-Neutral-Gray28);
  --Theme-Neutral-Fg-2-rest: var(--Color-Color-Neutral-Gray36);
  --Theme-Neutral-Fg-3-focus: var(--Color-Color-Neutral-Gray30);
  --Theme-Neutral-Fg-3-hover: var(--Color-Color-Neutral-Gray40);
  --Theme-Neutral-Fg-3-pressed: var(--Color-Color-Neutral-Gray30);
  --Theme-Neutral-Fg-3-rest: var(--Color-Color-Neutral-Gray42);
  --Theme-Neutral-Fg-3-selected: var(--Color-Color-Neutral-Gray30);
  --Theme-Neutral-Fg-4-focus: var(--Color-Color-Neutral-Gray50);
  --Theme-Neutral-Fg-4-hover: var(--Color-Color-Neutral-Gray44);
  --Theme-Neutral-Fg-4-pressed: var(--Color-Color-Neutral-Gray30);
  --Theme-Neutral-Fg-4-rest: var(--Color-Color-Neutral-Gray50);
  --Theme-Neutral-Fg-4-selected: var(--Color-Color-Neutral-Gray20);
  --Theme-Neutral-Fg-5-hover: var(--Color-Color-Neutral-Gray36);
  --Theme-Neutral-Fg-5-pressed: var(--Color-Color-Neutral-Gray34);
  --Theme-Neutral-Fg-5-rest: var(--Color-Color-Neutral-Gray40);
  --Theme-Neutral-Fg-6-hover: var(--Color-Color-Neutral-Gray66);
  --Theme-Neutral-Fg-6-pressed: var(--Color-Color-Neutral-Gray64);
  --Theme-Neutral-Fg-6-rest: var(--Color-Color-Neutral-Gray70);
  --Theme-Neutral-Fg-6-select: var(--Color-Color-Neutral-Gray30);
  --Theme-Neutral-Fg-Disabled-1-rest: var(--Color-Color-Neutral-Gray76);
  --Theme-Neutral-Fg-Disabled-2-rest: var(--Color-Color-Neutral-Gray44);
  --Theme-Neutral-Fg-Inverted-rest: var(--Color-Color-Neutral-White);
  --Theme-Neutral-Fg-Onbrand-1-rest: var(--Color-Color-Neutral-White);
  --Theme-Neutral-Fg-Onbrand-2-rest: var(--Color-Color-Alfa-White-60);
  --Theme-Neutral-Fg-Onbrand-3-rest: var(--Color-Color-Alfa-White-30);
  --Theme-Shadow-ambient: var(--Color-Color-Alfa-Black-15);
}
