:root {
  --Color-Color-Alfa-Black-5: rgba(0, 0, 0, 0.05);
  --Color-Color-Alfa-Black-7: rgba(0, 0, 0, 0.07);
  --Color-Color-Alfa-Black-10: rgba(0, 0, 0, 0.1);
  --Color-Color-Alfa-Black-15: rgba(0, 0, 0, 0.15);
  --Color-Color-Alfa-Black-20: rgba(0, 0, 0, 0.2);
  --Color-Color-Alfa-Black-30: rgba(0, 0, 0, 0.3);
  --Color-Color-Alfa-Black-40: rgba(0, 0, 0, 0.4);
  --Color-Color-Alfa-Black-50: rgba(0, 0, 0, 0.5);
  --Color-Color-Alfa-Black-60: rgba(0, 0, 0, 0.6);
  --Color-Color-Alfa-Black-70: rgba(0, 0, 0, 0.7);
  --Color-Color-Alfa-Black-80: rgba(0, 0, 0, 0.8);
  --Color-Color-Alfa-Black-90: rgba(0, 0, 0, 0.9);
  --Color-Color-Alfa-Gray-5: rgba(33, 33, 36, 0.05);
  --Color-Color-Alfa-Gray-7: rgba(33, 33, 36, 0.07);
  --Color-Color-Alfa-Gray-10: rgba(33, 33, 36, 0.1);
  --Color-Color-Alfa-Gray-13: rgba(33, 33, 36, 0.13);
  --Color-Color-Alfa-Gray-15: rgba(33, 33, 36, 0.15);
  --Color-Color-Alfa-Gray-20: rgba(33, 33, 36, 0.2);
  --Color-Color-Alfa-Gray-30: rgba(33, 33, 36, 0.3);
  --Color-Color-Alfa-Gray-40: rgba(33, 33, 36, 0.4);
  --Color-Color-Alfa-Gray-50: rgba(33, 33, 36, 0.5);
  --Color-Color-Alfa-Gray-60: rgba(33, 33, 36, 0.6);
  --Color-Color-Alfa-Gray-70: rgba(33, 33, 36, 0.7);
  --Color-Color-Alfa-Gray-80: rgba(33, 33, 36, 0.8);
  --Color-Color-Alfa-Gray-90: rgba(33, 33, 36, 0.9);
  --Color-Color-Alfa-White-5: rgba(255, 255, 255, 0.05);
  --Color-Color-Alfa-White-10: rgba(255, 255, 255, 0.1);
  --Color-Color-Alfa-White-15: rgba(255, 255, 255, 0.15);
  --Color-Color-Alfa-White-20: rgba(255, 255, 255, 0.2);
  --Color-Color-Alfa-White-30: rgba(255, 255, 255, 0.3);
  --Color-Color-Alfa-White-40: rgba(255, 255, 255, 0.4);
  --Color-Color-Alfa-White-50: rgba(255, 255, 255, 0.5);
  --Color-Color-Alfa-White-60: rgba(255, 255, 255, 0.6);
  --Color-Color-Alfa-White-70: rgba(255, 255, 255, 0.7);
  --Color-Color-Alfa-White-80: rgba(255, 255, 255, 0.8);
  --Color-Color-Alfa-White-90: rgba(255, 255, 255, 0.9);
  --Color-Color-Brand-Alfa-Brand-50: rgba(42, 104, 223, 0.05);
  --Color-Color-Brand-Alfa-Brand-100: rgba(42, 104, 223, 0.1);
  --Color-Color-Brand-Alfa-Brand-150: rgba(42, 104, 223, 0.15);
  --Color-Color-Brand-Alfa-Brand-200: rgba(42, 104, 223, 0.2);
  --Color-Color-Brand-Alfa-Brand-300: rgba(42, 104, 223, 0.3);
  --Color-Color-Brand-Alfa-Brand-400: rgba(42, 104, 223, 0.4);
  --Color-Color-Brand-Alfa-Brand-500: rgba(42, 104, 223, 0.5);
  --Color-Color-Brand-Alfa-Brand-800: rgba(42, 104, 223, 0.8);
  --Color-Color-Brand-Alfa-Brand-900: rgba(42, 104, 223, 0.9);
  --Color-Color-Brand-Alfa-Brand600: rgba(42, 104, 223, 0.6);
  --Color-Color-Brand-Alfa-Brand700: rgba(42, 104, 223, 0.7);
  --Color-Color-Brand-Fill-10: #051f51;
  --Color-Color-Brand-Fill-20: #08296a;
  --Color-Color-Brand-Fill-30: #0b3585;
  --Color-Color-Brand-Fill-40: #0e3d98;
  --Color-Color-Brand-Fill-50: #1146ac;
  --Color-Color-Brand-Fill-60: #144bb4;
  --Color-Color-Brand-Fill-70: #1a54c3;
  --Color-Color-Brand-Fill-80: #1e5bd2;
  --Color-Color-Brand-Fill-100: #3978f2;
  --Color-Color-Brand-Fill-110: #4b86f8;
  --Color-Color-Brand-Fill-120: #6498fb;
  --Color-Color-Brand-Fill-130: #7aa7ff;
  --Color-Color-Brand-Fill-140: #93b8ff;
  --Color-Color-Brand-Fill-150: #a9c7ff;
  --Color-Color-Brand-Fill-160: #b8d0ff;
  --Color-Color-Brand-Fill-170: #cfdfff;
  --Color-Color-Brand-Fill-180: #e1ebff;
  --Color-Color-Brand-Fill-190: #eef4ff;
  --Color-Color-Brand-Fill-200: #f7faff;
  --Color-Color-Brand-Fill-Primary: #2a68df;
  --Color-Color-Brand2-Alfa-Brand-50: rgba(9, 189, 255, 0.05);
  --Color-Color-Brand2-Alfa-Brand-100: rgba(9, 189, 255, 0.1);
  --Color-Color-Brand2-Alfa-Brand-150: rgba(9, 189, 255, 0.15);
  --Color-Color-Brand2-Alfa-Brand-200: rgba(9, 189, 255, 0.2);
  --Color-Color-Brand2-Alfa-Brand-300: rgba(9, 189, 255, 0.3);
  --Color-Color-Brand2-Alfa-Brand-400: rgba(9, 189, 255, 0.4);
  --Color-Color-Brand2-Alfa-Brand-500: rgba(9, 189, 255, 0.5);
  --Color-Color-Brand2-Alfa-Brand-800: rgba(9, 189, 255, 0.8);
  --Color-Color-Brand2-Alfa-Brand-900: rgba(9, 189, 255, 0.9);
  --Color-Color-Brand2-Alfa-Brand600: rgba(9, 189, 255, 0.6);
  --Color-Color-Brand2-Alfa-Brand700: rgba(9, 189, 255, 0.7);
  --Color-Color-Brand2-Fill-Brand-10: #001e33;
  --Color-Color-Brand2-Fill-Brand-20: #002f4d;
  --Color-Color-Brand2-Fill-Brand-30: #004466;
  --Color-Color-Brand2-Fill-Brand-40: #005780;
  --Color-Color-Brand2-Fill-Brand-50: #006999;
  --Color-Color-Brand2-Fill-Brand-60: #007ab2;
  --Color-Color-Brand2-Fill-Brand-70: #008bcc;
  --Color-Color-Brand2-Fill-Brand-80: #08aae5;
  --Color-Color-Brand2-Fill-Brand-100: #33c8ff;
  --Color-Color-Brand2-Fill-Brand-110: #4dcfff;
  --Color-Color-Brand2-Fill-Brand-120: #66d6ff;
  --Color-Color-Brand2-Fill-Brand-130: #80ddff;
  --Color-Color-Brand2-Fill-Brand-140: #99e4ff;
  --Color-Color-Brand2-Fill-Brand-150: #a6e7ff;
  --Color-Color-Brand2-Fill-Brand-160: #b2eaff;
  --Color-Color-Brand2-Fill-Brand-170: #bfeeff;
  --Color-Color-Brand2-Fill-Brand-180: #d9f5ff;
  --Color-Color-Brand2-Fill-Brand-190: #edfaff;
  --Color-Color-Brand2-Fill-Brand-200: #f7fdff;
  --Color-Color-Brand2-Fill-Primary: #09bdff;
  --Color-Color-Neutral-Black: #000000;
  --Color-Color-Neutral-Gray2: #050505;
  --Color-Color-Neutral-Gray4: #0a0a0a;
  --Color-Color-Neutral-Gray6: #0f0f0f;
  --Color-Color-Neutral-Gray8: #171717;
  --Color-Color-Neutral-Gray10: #1c1c1c;
  --Color-Color-Neutral-Gray12: #1f1f1f;
  --Color-Color-Neutral-Gray14: #242424;
  --Color-Color-Neutral-Gray16: #292929;
  --Color-Color-Neutral-Gray18: #2e2e2e;
  --Color-Color-Neutral-Gray20: #333333;
  --Color-Color-Neutral-Gray22: #383838;
  --Color-Color-Neutral-Gray24: #3d3d3d;
  --Color-Color-Neutral-Gray26: #424242;
  --Color-Color-Neutral-Gray28: #474747;
  --Color-Color-Neutral-Gray30: #4d4d4d;
  --Color-Color-Neutral-Gray32: #525252;
  --Color-Color-Neutral-Gray34: #575757;
  --Color-Color-Neutral-Gray36: #5c5c5c;
  --Color-Color-Neutral-Gray38: #616161;
  --Color-Color-Neutral-Gray40: #666666;
  --Color-Color-Neutral-Gray42: #6b6b6b;
  --Color-Color-Neutral-Gray44: #707070;
  --Color-Color-Neutral-Gray46: #757575;
  --Color-Color-Neutral-Gray48: #7a7a7a;
  --Color-Color-Neutral-Gray50: #808080;
  --Color-Color-Neutral-Gray52: #858585;
  --Color-Color-Neutral-Gray54: #8a8a8a;
  --Color-Color-Neutral-Gray56: #8f8f8f;
  --Color-Color-Neutral-Gray58: #949494;
  --Color-Color-Neutral-Gray60: #999999;
  --Color-Color-Neutral-Gray62: #9e9e9e;
  --Color-Color-Neutral-Gray64: #a3a3a3;
  --Color-Color-Neutral-Gray66: #a8a8a8;
  --Color-Color-Neutral-Gray68: #adadad;
  --Color-Color-Neutral-Gray70: #b3b3b3;
  --Color-Color-Neutral-Gray72: #b8b8b8;
  --Color-Color-Neutral-Gray74: #bdbdbd;
  --Color-Color-Neutral-Gray76: #c2c2c2;
  --Color-Color-Neutral-Gray78: #c7c7c7;
  --Color-Color-Neutral-Gray80: #cccccc;
  --Color-Color-Neutral-Gray82: #d1d1d1;
  --Color-Color-Neutral-Gray84: #d6d6d6;
  --Color-Color-Neutral-Gray86: #dbdbdb;
  --Color-Color-Neutral-Gray88: #e0e0e0;
  --Color-Color-Neutral-Gray90: #e6e6e6;
  --Color-Color-Neutral-Gray92: #ebebeb;
  --Color-Color-Neutral-Gray94: #f0f0f0;
  --Color-Color-Neutral-Gray96: #f5f5f5;
  --Color-Color-Neutral-Grey98: #fafafa;
  --Color-Color-Neutral-White: #ffffff;
  --Color-Color-Shared-Berry-Alfa-50: rgba(194, 57, 179, 0.05);
  --Color-Color-Shared-Berry-Alfa-100: rgba(194, 57, 179, 0.1);
  --Color-Color-Shared-Berry-Alfa-200: rgba(194, 57, 179, 0.2);
  --Color-Color-Shared-Berry-Alfa-300: rgba(194, 57, 179, 0.3);
  --Color-Color-Shared-Berry-Alfa-400: rgba(194, 57, 179, 0.4);
  --Color-Color-Shared-Berry-Alfa-500: rgba(194, 57, 179, 0.5);
  --Color-Color-Shared-Berry-Alfa-600: rgba(194, 57, 179, 0.6);
  --Color-Color-Shared-Berry-Alfa-700: rgba(194, 57, 179, 0.7);
  --Color-Color-Shared-Berry-Alfa-800: rgba(194, 57, 179, 0.8);
  --Color-Color-Shared-Berry-Alfa-900: rgba(194, 57, 179, 0.9);
  --Color-Color-Shared-Berry-Fill-40: #1f091d;
  --Color-Color-Shared-Berry-Fill-50: #3a1136;
  --Color-Color-Shared-Berry-Fill-60: #6d2064;
  --Color-Color-Shared-Berry-Fill-70: #932b88;
  --Color-Color-Shared-Berry-Fill-80: #af33a1;
  --Color-Color-Shared-Berry-Fill-100: #c94cbc;
  --Color-Color-Shared-Berry-Fill-110: #d161c4;
  --Color-Color-Shared-Berry-Fill-120: #da7ed0;
  --Color-Color-Shared-Berry-Fill-130: #edbbe7;
  --Color-Color-Shared-Berry-Fill-140: #f5daf2;
  --Color-Color-Shared-Berry-Fill-150: #fdf5fc;
  --Color-Color-Shared-Berry-Fill-Main: #c239b3;
  --Color-Color-Shared-Blue-Alfa-50: rgba(72, 135, 255, 0.05);
  --Color-Color-Shared-Blue-Alfa-100: rgba(72, 135, 255, 0.1);
  --Color-Color-Shared-Blue-Alfa-200: rgba(72, 135, 255, 0.2);
  --Color-Color-Shared-Blue-Alfa-300: rgba(72, 135, 255, 0.3);
  --Color-Color-Shared-Blue-Alfa-400: rgba(72, 135, 255, 0.4);
  --Color-Color-Shared-Blue-Alfa-500: rgba(72, 135, 255, 0.5);
  --Color-Color-Shared-Blue-Alfa-600: rgba(72, 135, 255, 0.6);
  --Color-Color-Shared-Blue-Alfa-700: rgba(72, 135, 255, 0.7);
  --Color-Color-Shared-Blue-Alfa-800: rgba(72, 135, 255, 0.8);
  --Color-Color-Shared-Blue-Alfa-900: rgba(72, 135, 255, 0.9);
  --Color-Color-Shared-Blue-Fill-10: #092459;
  --Color-Color-Shared-Blue-Fill-20: #09317d;
  --Color-Color-Shared-Blue-Fill-30: #0b3fa1;
  --Color-Color-Shared-Blue-Fill-40: #0c4bc1;
  --Color-Color-Shared-Blue-Fill-50: #0d52d5;
  --Color-Color-Shared-Blue-Fill-60: #1059e4;
  --Color-Color-Shared-Blue-Fill-70: #115ff3;
  --Color-Color-Shared-Blue-Fill-80: #2e71f1;
  --Color-Color-Shared-Blue-Fill-100: #6c9fff;
  --Color-Color-Shared-Blue-Fill-110: #8db4ff;
  --Color-Color-Shared-Blue-Fill-120: #bcd3ff;
  --Color-Color-Shared-Blue-Fill-130: #dae7ff;
  --Color-Color-Shared-Blue-Fill-140: #ebf2ff;
  --Color-Color-Shared-Blue-Fill-150: #f4f8ff;
  --Color-Color-Shared-Blue-Fill-Visary: #4887ff;
  --Color-Color-Shared-Charcoal-Alfa-50: rgba(57, 57, 57, 0.05);
  --Color-Color-Shared-Charcoal-Alfa-100: rgba(57, 57, 57, 0.1);
  --Color-Color-Shared-Charcoal-Alfa-200: rgba(57, 57, 57, 0.2);
  --Color-Color-Shared-Charcoal-Alfa-300: rgba(57, 57, 57, 0.3);
  --Color-Color-Shared-Charcoal-Alfa-400: rgba(57, 57, 57, 0.4);
  --Color-Color-Shared-Charcoal-Alfa-500: rgba(57, 57, 57, 0.5);
  --Color-Color-Shared-Charcoal-Alfa-600: rgba(57, 57, 57, 0.6);
  --Color-Color-Shared-Charcoal-Alfa-700: rgba(57, 57, 57, 0.7);
  --Color-Color-Shared-Charcoal-Alfa-800: rgba(57, 57, 57, 0.8);
  --Color-Color-Shared-Charcoal-Alfa-900: rgba(57, 57, 57, 0.9);
  --Color-Color-Shared-Charcoal-Fill-40: #090909;
  --Color-Color-Shared-Charcoal-Fill-50: #111111;
  --Color-Color-Shared-Charcoal-Fill-60: #202020;
  --Color-Color-Shared-Charcoal-Fill-70: #2b2b2b;
  --Color-Color-Shared-Charcoal-Fill-80: #333333;
  --Color-Color-Shared-Charcoal-Fill-100: #515151;
  --Color-Color-Shared-Charcoal-Fill-110: #686868;
  --Color-Color-Shared-Charcoal-Fill-120: #888888;
  --Color-Color-Shared-Charcoal-Fill-130: #c4c4c4;
  --Color-Color-Shared-Charcoal-Fill-140: #dfdfdf;
  --Color-Color-Shared-Charcoal-Fill-150: #f7f7f7;
  --Color-Color-Shared-Charcoal-Fill-Main: #393939;
  --Color-Color-Shared-Forest-Alfa-50: rgba(73, 130, 5, 0.05);
  --Color-Color-Shared-Forest-Alfa-100: rgba(73, 130, 5, 0.1);
  --Color-Color-Shared-Forest-Alfa-200: rgba(73, 130, 5, 0.2);
  --Color-Color-Shared-Forest-Alfa-300: rgba(73, 130, 5, 0.3);
  --Color-Color-Shared-Forest-Alfa-400: rgba(73, 130, 5, 0.4);
  --Color-Color-Shared-Forest-Alfa-500: rgba(73, 130, 5, 0.5);
  --Color-Color-Shared-Forest-Alfa-600: rgba(73, 130, 5, 0.6);
  --Color-Color-Shared-Forest-Alfa-700: rgba(73, 130, 5, 0.7);
  --Color-Color-Shared-Forest-Alfa-800: rgba(73, 130, 5, 0.8);
  --Color-Color-Shared-Forest-Alfa-900: rgba(73, 130, 5, 0.9);
  --Color-Color-Shared-Forest-Fill-40: #0c1501;
  --Color-Color-Shared-Forest-Fill-50: #162702;
  --Color-Color-Shared-Forest-Fill-60: #294903;
  --Color-Color-Shared-Forest-Fill-70: #376304;
  --Color-Color-Shared-Forest-Fill-80: #427505;
  --Color-Color-Shared-Forest-Fill-100: #599116;
  --Color-Color-Shared-Forest-Fill-110: #6ba02b;
  --Color-Color-Shared-Forest-Fill-120: #85b44c;
  --Color-Color-Shared-Forest-Fill-130: #bdd99b;
  --Color-Color-Shared-Forest-Fill-140: #dbebc7;
  --Color-Color-Shared-Forest-Fill-150: #f6faf0;
  --Color-Color-Shared-Forest-Fill-Main: #498205;
  --Color-Color-Shared-Green-Alfa-50: rgba(0, 163, 76, 0.05);
  --Color-Color-Shared-Green-Alfa-100: rgba(0, 163, 76, 0.1);
  --Color-Color-Shared-Green-Alfa-200: rgba(0, 163, 76, 0.2);
  --Color-Color-Shared-Green-Alfa-300: rgba(0, 163, 76, 0.3);
  --Color-Color-Shared-Green-Alfa-400: rgba(0, 163, 76, 0.4);
  --Color-Color-Shared-Green-Alfa-500: rgba(0, 163, 76, 0.5);
  --Color-Color-Shared-Green-Alfa-600: rgba(0, 163, 76, 0.6);
  --Color-Color-Shared-Green-Alfa-700: rgba(0, 163, 76, 0.7);
  --Color-Color-Shared-Green-Alfa-800: rgba(0, 163, 76, 0.8);
  --Color-Color-Shared-Green-Alfa-900: rgba(0, 163, 76, 0.9);
  --Color-Color-Shared-Green-Fill-40: #023a1c;
  --Color-Color-Shared-Green-Fill-50: #034e26;
  --Color-Color-Shared-Green-Fill-60: #026832;
  --Color-Color-Shared-Green-Fill-70: #038740;
  --Color-Color-Shared-Green-Fill-80: #049346;
  --Color-Color-Shared-Green-Fill-100: #3bc57b;
  --Color-Color-Shared-Green-Fill-110: #4bd78d;
  --Color-Color-Shared-Green-Fill-120: #7be1aa;
  --Color-Color-Shared-Green-Fill-130: #b6f2d2;
  --Color-Color-Shared-Green-Fill-140: #d7f5e5;
  --Color-Color-Shared-Green-Fill-150: #f6fffa;
  --Color-Color-Shared-Green-Fill-Primary: #00a34c;
  --Color-Color-Shared-Lavender-Alfa-5: rgba(113, 96, 232, 0.05);
  --Color-Color-Shared-Lavender-Alfa-10: rgba(113, 96, 232, 0.1);
  --Color-Color-Shared-Lavender-Alfa-20: rgba(113, 96, 232, 0.2);
  --Color-Color-Shared-Lavender-Alfa-100: rgba(113, 96, 232, 0.3);
  --Color-Color-Shared-Lavender-Alfa-200: rgba(113, 96, 232, 0.4);
  --Color-Color-Shared-Lavender-Alfa-300: rgba(113, 96, 232, 0.5);
  --Color-Color-Shared-Lavender-Alfa-400: rgba(113, 96, 232, 0.6);
  --Color-Color-Shared-Lavender-Alfa-500: rgba(113, 96, 232, 0.7);
  --Color-Color-Shared-Lavender-Alfa-600: rgba(113, 96, 232, 0.8);
  --Color-Color-Shared-Lavender-Alfa-700: rgba(113, 96, 232, 0.9);
  --Color-Color-Shared-Lavender-Fill-40: #120f25;
  --Color-Color-Shared-Lavender-Fill-50: #2b2459;
  --Color-Color-Shared-Lavender-Fill-60: #3f3682;
  --Color-Color-Shared-Lavender-Fill-70: #5649b0;
  --Color-Color-Shared-Lavender-Fill-80: #6656d1;
  --Color-Color-Shared-Lavender-Fill-100: #8172eb;
  --Color-Color-Shared-Lavender-Fill-110: #9184ee;
  --Color-Color-Shared-Lavender-Fill-120: #a79cf1;
  --Color-Color-Shared-Lavender-Fill-130: #d2ccf8;
  --Color-Color-Shared-Lavender-Fill-140: #e7e4fb;
  --Color-Color-Shared-Lavender-Fill-150: #f9f8fe;
  --Color-Color-Shared-Lavender-Fill-Main: #7160e8;
  --Color-Color-Shared-Lilac-Alfa-50: rgba(177, 70, 194, 0.05);
  --Color-Color-Shared-Lilac-Alfa-100: rgba(177, 70, 194, 0.1);
  --Color-Color-Shared-Lilac-Alfa-200: rgba(177, 70, 194, 0.2);
  --Color-Color-Shared-Lilac-Alfa-300: rgba(177, 70, 194, 0.3);
  --Color-Color-Shared-Lilac-Alfa-400: rgba(177, 70, 194, 0.4);
  --Color-Color-Shared-Lilac-Alfa-500: rgba(177, 70, 194, 0.5);
  --Color-Color-Shared-Lilac-Alfa-600: rgba(177, 70, 194, 0.6);
  --Color-Color-Shared-Lilac-Alfa-700: rgba(177, 70, 194, 0.7);
  --Color-Color-Shared-Lilac-Alfa-800: rgba(177, 70, 194, 0.8);
  --Color-Color-Shared-Lilac-Alfa-900: rgba(177, 70, 194, 0.9);
  --Color-Color-Shared-Lilac-Fill-40: #1c0b1f;
  --Color-Color-Shared-Lilac-Fill-50: #35153a;
  --Color-Color-Shared-Lilac-Fill-60: #63276d;
  --Color-Color-Shared-Lilac-Fill-70: #863593;
  --Color-Color-Shared-Lilac-Fill-80: #9f3faf;
  --Color-Color-Shared-Lilac-Fill-100: #ba58c9;
  --Color-Color-Shared-Lilac-Fill-110: #c36bd1;
  --Color-Color-Shared-Lilac-Fill-120: #cf87da;
  --Color-Color-Shared-Lilac-Fill-130: #e6bfed;
  --Color-Color-Shared-Lilac-Fill-140: #f2dcf5;
  --Color-Color-Shared-Lilac-Fill-150: #fcf6fd;
  --Color-Color-Shared-Lilac-Fill-Main: #b146c2;
  --Color-Color-Shared-Lime-Alfa-50: rgba(115, 170, 36, 0.05);
  --Color-Color-Shared-Lime-Alfa-100: rgba(115, 170, 36, 0.1);
  --Color-Color-Shared-Lime-Alfa-200: rgba(115, 170, 36, 0.2);
  --Color-Color-Shared-Lime-Alfa-300: rgba(115, 170, 36, 0.3);
  --Color-Color-Shared-Lime-Alfa-400: rgba(115, 170, 36, 0.4);
  --Color-Color-Shared-Lime-Alfa-500: rgba(115, 170, 36, 0.5);
  --Color-Color-Shared-Lime-Alfa-600: rgba(115, 170, 36, 0.6);
  --Color-Color-Shared-Lime-Alfa-700: rgba(115, 170, 36, 0.7);
  --Color-Color-Shared-Lime-Alfa-800: rgba(115, 170, 36, 0.8);
  --Color-Color-Shared-Lime-Alfa-900: rgba(115, 170, 36, 0.9);
  --Color-Color-Shared-Lime-Fill-40: #121b06;
  --Color-Color-Shared-Lime-Fill-50: #23330b;
  --Color-Color-Shared-Lime-Fill-60: #405f14;
  --Color-Color-Shared-Lime-Fill-70: #57811b;
  --Color-Color-Shared-Lime-Fill-80: #689920;
  --Color-Color-Shared-Lime-Fill-100: #81b437;
  --Color-Color-Shared-Lime-Fill-110: #90be4c;
  --Color-Color-Shared-Lime-Fill-120: #a4cc6c;
  --Color-Color-Shared-Lime-Fill-130: #cfe5af;
  --Color-Color-Shared-Lime-Fill-140: #e5f1d3;
  --Color-Color-Shared-Lime-Fill-150: #f8fcf4;
  --Color-Color-Shared-Lime-Fill-Main: #73aa24;
  --Color-Color-Shared-Mint-Alfa-5: rgba(49, 178, 139, 0.05);
  --Color-Color-Shared-Mint-Alfa-100: rgba(49, 178, 139, 0.1);
  --Color-Color-Shared-Mint-Alfa-200: rgba(49, 178, 139, 0.2);
  --Color-Color-Shared-Mint-Alfa-300: rgba(49, 178, 139, 0.3);
  --Color-Color-Shared-Mint-Alfa-400: rgba(49, 178, 139, 0.4);
  --Color-Color-Shared-Mint-Alfa-500: rgba(49, 178, 139, 0.5);
  --Color-Color-Shared-Mint-Alfa-600: rgba(49, 178, 139, 0.6);
  --Color-Color-Shared-Mint-Alfa-700: rgba(49, 178, 139, 0.7);
  --Color-Color-Shared-Mint-Alfa-800: rgba(49, 178, 139, 0.8);
  --Color-Color-Shared-Mint-Alfa-900: rgba(49, 178, 139, 0.9);
  --Color-Color-Shared-Mint-Fill-40: #033726;
  --Color-Color-Shared-Mint-Fill-50: #0a6146;
  --Color-Color-Shared-Mint-Fill-60: #0e7a5a;
  --Color-Color-Shared-Mint-Fill-70: #157e5e;
  --Color-Color-Shared-Mint-Fill-80: #249d78;
  --Color-Color-Shared-Mint-Fill-100: #50c7a3;
  --Color-Color-Shared-Mint-Fill-110: #72d6b8;
  --Color-Color-Shared-Mint-Fill-120: #8fddc5;
  --Color-Color-Shared-Mint-Fill-130: #b5e5d6;
  --Color-Color-Shared-Mint-Fill-140: #e2f9f2;
  --Color-Color-Shared-Mint-Fill-Primary: #31b28b;
  --Color-Color-Shared-Orange-Alfa-50: rgba(255, 122, 0, 0.05);
  --Color-Color-Shared-Orange-Alfa-100: rgba(255, 122, 0, 0.1);
  --Color-Color-Shared-Orange-Alfa-200: rgba(255, 122, 0, 0.2);
  --Color-Color-Shared-Orange-Alfa-300: rgba(255, 122, 0, 0.3);
  --Color-Color-Shared-Orange-Alfa-400: rgba(255, 122, 0, 0.4);
  --Color-Color-Shared-Orange-Alfa-500: rgba(255, 122, 0, 0.5);
  --Color-Color-Shared-Orange-Alfa-600: rgba(255, 122, 0, 0.6);
  --Color-Color-Shared-Orange-Alfa-700: rgba(255, 122, 0, 0.7);
  --Color-Color-Shared-Orange-Alfa-800: rgba(255, 122, 0, 0.8);
  --Color-Color-Shared-Orange-Alfa-900: rgba(255, 122, 0, 0.9);
  --Color-Color-Shared-Orange-Fill-20: #231104;
  --Color-Color-Shared-Orange-Fill-30: #43200b;
  --Color-Color-Shared-Orange-Fill-40: #803b18;
  --Color-Color-Shared-Orange-Fill-50: #a04516;
  --Color-Color-Shared-Orange-Fill-60: #c85418;
  --Color-Color-Shared-Orange-Fill-70: #d75708;
  --Color-Color-Shared-Orange-Fill-80: #eb610b;
  --Color-Color-Shared-Orange-Fill-100: #ff9533;
  --Color-Color-Shared-Orange-Fill-110: #ffaf66;
  --Color-Color-Shared-Orange-Fill-120: #ffbc80;
  --Color-Color-Shared-Orange-Fill-130: #ffe4cc;
  --Color-Color-Shared-Orange-Fill-140: #fff8f2;
  --Color-Color-Shared-Orange-Fill-Main: #ff7a00;
  --Color-Color-Shared-Peach-Alfa-50: rgba(255, 125, 69, 0.05);
  --Color-Color-Shared-Peach-Alfa-100: rgba(255, 125, 69, 0.1);
  --Color-Color-Shared-Peach-Alfa-200: rgba(255, 125, 69, 0.2);
  --Color-Color-Shared-Peach-Alfa-300: rgba(255, 125, 69, 0.3);
  --Color-Color-Shared-Peach-Alfa-400: rgba(255, 125, 69, 0.4);
  --Color-Color-Shared-Peach-Alfa-500: rgba(255, 125, 69, 0.5);
  --Color-Color-Shared-Peach-Alfa-600: rgba(255, 125, 69, 0.6);
  --Color-Color-Shared-Peach-Alfa-700: rgba(255, 125, 69, 0.7);
  --Color-Color-Shared-Peach-Alfa-800: rgba(234, 113, 61, 0.8);
  --Color-Color-Shared-Peach-Alfa-900: rgba(236, 111, 57, 0.9);
  --Color-Color-Shared-Peach-Fill-10: #481904;
  --Color-Color-Shared-Peach-Fill-20: #5f2106;
  --Color-Color-Shared-Peach-Fill-30: #772a08;
  --Color-Color-Shared-Peach-Fill-40: #913107;
  --Color-Color-Shared-Peach-Fill-50: #a63b0d;
  --Color-Color-Shared-Peach-Fill-60: #bb4613;
  --Color-Color-Shared-Peach-Fill-70: #d25018;
  --Color-Color-Shared-Peach-Fill-80: #ea662d;
  --Color-Color-Shared-Peach-Fill-100: #f48b5e;
  --Color-Color-Shared-Peach-Fill-110: #f8a27d;
  --Color-Color-Shared-Peach-Fill-120: #fdbda2;
  --Color-Color-Shared-Peach-Fill-130: #ffdfd1;
  --Color-Color-Shared-Peach-Fill-Main: #ec6f39;
  --Color-Color-Shared-Puya-Alfa-5: rgba(0, 183, 195, 0.05);
  --Color-Color-Shared-Puya-Alfa-100: rgba(0, 183, 195, 0.1);
  --Color-Color-Shared-Puya-Alfa-200: rgba(0, 183, 195, 0.2);
  --Color-Color-Shared-Puya-Alfa-300: rgba(0, 183, 195, 0.3);
  --Color-Color-Shared-Puya-Alfa-400: rgba(0, 183, 195, 0.4);
  --Color-Color-Shared-Puya-Alfa-500: rgba(0, 183, 195, 0.5);
  --Color-Color-Shared-Puya-Alfa-600: rgba(0, 183, 195, 0.6);
  --Color-Color-Shared-Puya-Alfa-700: rgba(0, 183, 195, 0.7);
  --Color-Color-Shared-Puya-Alfa-800: rgba(0, 183, 195, 0.8);
  --Color-Color-Shared-Puya-Alfa-900: rgba(0, 183, 195, 0.9);
  --Color-Color-Shared-Puya-Fill-40: #001d1f;
  --Color-Color-Shared-Puya-Fill-50: #00373a;
  --Color-Color-Shared-Puya-Fill-60: #00666d;
  --Color-Color-Shared-Puya-Fill-70: #008b94;
  --Color-Color-Shared-Puya-Fill-80: #00a5af;
  --Color-Color-Shared-Puya-Fill-100: #18bfca;
  --Color-Color-Shared-Puya-Fill-110: #32c8d1;
  --Color-Color-Shared-Puya-Fill-120: #58d3db;
  --Color-Color-Shared-Puya-Fill-130: #b9eff2;
  --Color-Color-Shared-Puya-Fill-140: #eefafb;
  --Color-Color-Shared-Puya-Fill-Primary: #00b7c3;
  --Color-Color-Shared-Raspberry-Alfa-5: rgba(234, 16, 94, 0.05);
  --Color-Color-Shared-Raspberry-Alfa-10: rgba(234, 16, 94, 0.1);
  --Color-Color-Shared-Raspberry-Alfa-20: rgba(234, 16, 94, 0.2);
  --Color-Color-Shared-Raspberry-Alfa-30: rgba(234, 16, 94, 0.3);
  --Color-Color-Shared-Raspberry-Alfa-40: rgba(234, 16, 94, 0.4);
  --Color-Color-Shared-Raspberry-Alfa-50: rgba(234, 16, 94, 0.5);
  --Color-Color-Shared-Raspberry-Alfa-60: rgba(234, 16, 94, 0.6);
  --Color-Color-Shared-Raspberry-Alfa-70: rgba(234, 16, 94, 0.7);
  --Color-Color-Shared-Raspberry-Alfa-80: rgba(234, 16, 94, 0.8);
  --Color-Color-Shared-Raspberry-Alfa-90: rgba(234, 16, 94, 0.9);
  --Color-Color-Shared-Raspberry-Fill-10: #340315;
  --Color-Color-Shared-Raspberry-Fill-20: #560522;
  --Color-Color-Shared-Raspberry-Fill-30: #670629;
  --Color-Color-Shared-Raspberry-Fill-40: #6f062c;
  --Color-Color-Shared-Raspberry-Fill-50: #840835;
  --Color-Color-Shared-Raspberry-Fill-60: #9d083e;
  --Color-Color-Shared-Raspberry-Fill-70: #b20c48;
  --Color-Color-Shared-Raspberry-Fill-80: #cc0e52;
  --Color-Color-Shared-Raspberry-Fill-100: #f63479;
  --Color-Color-Shared-Raspberry-Fill-110: #f76388;
  --Color-Color-Shared-Raspberry-Fill-120: #f7a2c0;
  --Color-Color-Shared-Raspberry-Fill-130: #fad8e4;
  --Color-Color-Shared-Raspberry-Fill-Main: #ea105e;
  --Color-Color-Shared-Red-Alfa-50: rgba(237, 17, 57, 0.05);
  --Color-Color-Shared-Red-Alfa-100: rgba(237, 17, 57, 0.1);
  --Color-Color-Shared-Red-Alfa-200: rgba(237, 17, 57, 0.2);
  --Color-Color-Shared-Red-Alfa-300: rgba(237, 17, 57, 0.3);
  --Color-Color-Shared-Red-Alfa-400: rgba(237, 17, 57, 0.4);
  --Color-Color-Shared-Red-Alfa-500: rgba(237, 17, 57, 0.5);
  --Color-Color-Shared-Red-Alfa-600: rgba(237, 17, 57, 0.6);
  --Color-Color-Shared-Red-Alfa-700: rgba(237, 17, 57, 0.7);
  --Color-Color-Shared-Red-Alfa-800: rgba(237, 17, 57, 0.8);
  --Color-Color-Shared-Red-Alfa-900: rgba(237, 17, 57, 0.9);
  --Color-Color-Shared-Red-Fill-10: #45020e;
  --Color-Color-Shared-Red-Fill-20: #550312;
  --Color-Color-Shared-Red-Fill-30: #620314;
  --Color-Color-Shared-Red-Fill-40: #700518;
  --Color-Color-Shared-Red-Fill-50: #81061c;
  --Color-Color-Shared-Red-Fill-60: #930720;
  --Color-Color-Shared-Red-Fill-70: #bf0a2b;
  --Color-Color-Shared-Red-Fill-80: #df0f35;
  --Color-Color-Shared-Red-Fill-100: #ff3a5e;
  --Color-Color-Shared-Red-Fill-110: #ff5a68;
  --Color-Color-Shared-Red-Fill-120: #ff7a85;
  --Color-Color-Shared-Red-Fill-130: #ffa0a8;
  --Color-Color-Shared-Red-Fill-140: #ffdadd;
  --Color-Color-Shared-Red-Fill-150: #ffecee;
  --Color-Color-Shared-Red-Fill-Primary: #ed1139;
  --Color-Color-Shared-Sapphire-Alfa-50: rgba(46, 92, 243, 0.05);
  --Color-Color-Shared-Sapphire-Alfa-100: rgba(46, 92, 243, 0.1);
  --Color-Color-Shared-Sapphire-Alfa-200: rgba(46, 92, 243, 0.2);
  --Color-Color-Shared-Sapphire-Alfa-300: rgba(46, 92, 243, 0.3);
  --Color-Color-Shared-Sapphire-Alfa-400: rgba(46, 92, 243, 0.4);
  --Color-Color-Shared-Sapphire-Alfa-500: rgba(46, 92, 243, 0.5);
  --Color-Color-Shared-Sapphire-Alfa-600: rgba(46, 92, 243, 0.6);
  --Color-Color-Shared-Sapphire-Alfa-700: rgba(46, 92, 243, 0.7);
  --Color-Color-Shared-Sapphire-Alfa-800: rgba(46, 92, 243, 0.8);
  --Color-Color-Shared-Sapphire-Alfa-900: rgba(46, 92, 243, 0.9);
  --Color-Color-Shared-Sapphire-Fill-10: #06133f;
  --Color-Color-Shared-Sapphire-Fill-20: #081b5b;
  --Color-Color-Shared-Sapphire-Fill-30: #0a216d;
  --Color-Color-Shared-Sapphire-Fill-40: #0b2785;
  --Color-Color-Shared-Sapphire-Fill-50: #0c30a6;
  --Color-Color-Shared-Sapphire-Fill-60: #143dc6;
  --Color-Color-Shared-Sapphire-Fill-70: #123fd1;
  --Color-Color-Shared-Sapphire-Fill-80: #1948e3;
  --Color-Color-Shared-Sapphire-Fill-100: #5277f3;
  --Color-Color-Shared-Sapphire-Fill-110: #6b8bf3;
  --Color-Color-Shared-Sapphire-Fill-120: #99aff9;
  --Color-Color-Shared-Sapphire-Fill-130: #bfcefe;
  --Color-Color-Shared-Sapphire-Fill-140: #dee5ff;
  --Color-Color-Shared-Sapphire-Fill-150: #eff2ff;
  --Color-Color-Shared-Sapphire-Fill-Visary: #2e5cf3;
  --Color-Color-Shared-Silver-Alfa-50: rgba(161, 163, 190, 0.05);
  --Color-Color-Shared-Silver-Alfa-100: rgba(161, 163, 190, 0.1);
  --Color-Color-Shared-Silver-Alfa-200: rgba(161, 163, 190, 0.2);
  --Color-Color-Shared-Silver-Alfa-300: rgba(161, 163, 190, 0.3);
  --Color-Color-Shared-Silver-Alfa-400: rgba(161, 163, 190, 0.4);
  --Color-Color-Shared-Silver-Alfa-500: rgba(161, 163, 190, 0.5);
  --Color-Color-Shared-Silver-Alfa-600: rgba(161, 163, 190, 0.6);
  --Color-Color-Shared-Silver-Alfa-700: rgba(161, 163, 190, 0.7);
  --Color-Color-Shared-Silver-Alfa-800: rgba(161, 163, 190, 0.8);
  --Color-Color-Shared-Silver-Alfa-900: rgba(161, 163, 190, 0.9);
  --Color-Color-Shared-Silver-Fill-30: #2e303e;
  --Color-Color-Shared-Silver-Fill-40: #404357;
  --Color-Color-Shared-Silver-Fill-50: #51546b;
  --Color-Color-Shared-Silver-Fill-60: #61647f;
  --Color-Color-Shared-Silver-Fill-70: #767a97;
  --Color-Color-Shared-Silver-Fill-80: #8a8ea9;
  --Color-Color-Shared-Silver-Fill-100: #caccdd;
  --Color-Color-Shared-Silver-Fill-110: #dadceb;
  --Color-Color-Shared-Silver-Fill-120: #e1e2ee;
  --Color-Color-Shared-Silver-Fill-130: #e6e7f2;
  --Color-Color-Shared-Silver-Fill-140: #e1e2ee;
  --Color-Color-Shared-Silver-Fill-150: #eff0fc;
  --Color-Color-Shared-Silver-Fill-Main: #a1a3be;
  --Color-Color-Shared-Sky-Alfa-50: rgba(50, 157, 255, 0.05);
  --Color-Color-Shared-Sky-Alfa-100: rgba(50, 157, 255, 0.1);
  --Color-Color-Shared-Sky-Alfa-200: rgba(50, 157, 255, 0.2);
  --Color-Color-Shared-Sky-Alfa-300: rgba(50, 157, 255, 0.3);
  --Color-Color-Shared-Sky-Alfa-400: rgba(50, 157, 255, 0.4);
  --Color-Color-Shared-Sky-Alfa-500: rgba(50, 157, 255, 0.5);
  --Color-Color-Shared-Sky-Alfa-600: rgba(50, 157, 255, 0.6);
  --Color-Color-Shared-Sky-Alfa-700: rgba(50, 157, 255, 0.7);
  --Color-Color-Shared-Sky-Alfa-800: rgba(50, 157, 255, 0.8);
  --Color-Color-Shared-Sky-Alfa-900: rgba(50, 157, 255, 0.9);
  --Color-Color-Shared-Sky-Fill-10: #042441;
  --Color-Color-Shared-Sky-Fill-20: #063560;
  --Color-Color-Shared-Sky-Fill-30: #09467f;
  --Color-Color-Shared-Sky-Fill-40: #0c59a0;
  --Color-Color-Shared-Sky-Fill-50: #1069bb;
  --Color-Color-Shared-Sky-Fill-60: #1476cf;
  --Color-Color-Shared-Sky-Fill-70: #1784e8;
  --Color-Color-Shared-Sky-Fill-80: #208ef3;
  --Color-Color-Shared-Sky-Fill-100: #4eabff;
  --Color-Color-Shared-Sky-Fill-110: #71bcff;
  --Color-Color-Shared-Sky-Fill-120: #a0d2ff;
  --Color-Color-Shared-Sky-Fill-130: #c4e3ff;
  --Color-Color-Shared-Sky-Fill-140: #e1f1ff;
  --Color-Color-Shared-Sky-Fill-Visary: #329dff;
  --Color-Color-Shared-Yellow-Alfa-50: rgba(255, 199, 0, 0.05);
  --Color-Color-Shared-Yellow-Alfa-100: rgba(255, 199, 0, 0.1);
  --Color-Color-Shared-Yellow-Alfa-200: rgba(255, 199, 0, 0.2);
  --Color-Color-Shared-Yellow-Alfa-300: rgba(255, 199, 0, 0.3);
  --Color-Color-Shared-Yellow-Alfa-400: rgba(255, 199, 0, 0.4);
  --Color-Color-Shared-Yellow-Alfa-500: rgba(255, 199, 0, 0.5);
  --Color-Color-Shared-Yellow-Alfa-600: rgba(255, 199, 0, 0.6);
  --Color-Color-Shared-Yellow-Alfa-700: rgba(255, 199, 0, 0.7);
  --Color-Color-Shared-Yellow-Alfa-800: rgba(255, 199, 0, 0.8);
  --Color-Color-Shared-Yellow-Alfa-900: rgba(255, 199, 0, 0.9);
  --Color-Color-Shared-Yellow-Fill-10: #5c4005;
  --Color-Color-Shared-Yellow-Fill-20: #845d08;
  --Color-Color-Shared-Yellow-Fill-30: #9b6c08;
  --Color-Color-Shared-Yellow-Fill-40: #b17b07;
  --Color-Color-Shared-Yellow-Fill-50: #c68a08;
  --Color-Color-Shared-Yellow-Fill-60: #d39908;
  --Color-Color-Shared-Yellow-Fill-70: #dfa309;
  --Color-Color-Shared-Yellow-Fill-80: #eeab01;
  --Color-Color-Shared-Yellow-Fill-100: #ffd028;
  --Color-Color-Shared-Yellow-Fill-110: #ffd53e;
  --Color-Color-Shared-Yellow-Fill-120: #ffe073;
  --Color-Color-Shared-Yellow-Fill-130: #ffeaa0;
  --Color-Color-Shared-Yellow-Fill-140: #fff3c6;
  --Color-Color-Shared-Yellow-Fill-150: #fff9e5;
  --Color-Color-Shared-Yellow-Fill-Main: #ffc700;
}
